footer {
    display: flex;
    color: white;
    padding: 30px 20px;
    position: absolute;
    left: 0;
    width: 100%;
}


footer .footer-container {
max-width: 1200px;
margin: auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
gap: 20px;
}