
.sidebar {
  position: fixed;
  top: 25%;
  right: 0;
  width: var(--sidebar-width);
  height: 100vh;
  box-sizing: border-box;
  z-index: 1000;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  display: flex;
  flex-direction: row-reverse;
  padding: 5px;
  color: white;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Compense la largeur de la sidebar */
.content {
  margin-right: 10px;
  padding: 32px;
}
